/* --primary-font: font-family: 'Kaisei Tokumin', serif;
    --secondary-font: font-family: 'Niramit', sans-serif
    green color: #464e2e */
ul {
  margin: 0;
  padding: 0;
}
nav li {
  list-style: none;
  display: inline;
  line-height: 40px;
  margin-left: 10px;
}
.logo {
  max-width: auto;
  max-height: 50px;
}
nav a {
  text-decoration: none;
}
.header {
  background-color: #fbf8f1;
  padding: 80px 0;
  margin-top: 20px;
}
h1 {
  font-family: "Kaisei Tokumin", serif;
  font-size: 90px;
}

h3 {
  font-family: "Niramit", sans-serif;
  font-size: 24px;
}

.primary-button {
  background-color: rgb(70, 78, 46, 0.6);
  color: white;
  padding: 10px 30px;
  transition: all 0.1s ease-in-out;
}
.primary-button:hover {
  background-color: white;
  border: 1px solid rgb(70, 78, 46, 0.6);
  color: rgb(70, 78, 46);
}
.secondary-button {
  background-color: white;
  border: 1px solid rgb(70, 78, 46, 0.6);
  color: rgb(70, 78, 46);
  padding: 10px 30px;
  transition: all 0.1s ease-in-out;
}
.secondary-button:hover {
  background-color: rgb(70, 78, 46, 0.6);
  color: white;
  padding: 10px 30px;
}

.intro-section {
  padding: 50px 0;
}
.intro-section p {
  font-family: "Niramit", sans-serif;
  font-size: 18px;
}
.project-image {
  background-color: #fbf8f1;
  max-width: 100%;
  height: auto;
  padding: 10px;
}
.project-title {
  font-family: "Kaisei Tokumin", serif;
  font-size: 54px;
  margin: 70px 50px 0 0;
}
.project-title-weather {
  font-family: "Kaisei Tokumin", serif;
  font-size: 54px;
  margin: 50px 50px 0 0;
}
.inquiry-box {
  background-color: #fbf8f1;
  padding: 50px 30px;
}
.inquiry-box-text h1 {
  font-size: 50px;
}
.inquiry-box-text {
  margin: 20px 30px;
}
.inquiry-box-text p {
  font-size: 24px;
}
.inquiry-box-btn {
  margin: 20px 30px;
}
.social-icons {
  background-color: #fbf8f1;
  font-size: 24px;
  padding: 10px 15px;
  margin: 15px;
  border-radius: 50%;
  color: rgb(70, 78, 46, 0.6);
  transition: all 0.1s ease-in-out;
}
.social-icons:hover {
  background-color: rgb(70, 78, 46, 0.6);
  color: white;
}
.social-text {
  color: rgb(70, 78, 46, 0.6);
  font-size: 12px;
}
@media (max-width: 1000px) {
  .header {
    padding: 20px;
  }
  h1 {
    font-size: 64px;
    padding: 10px;
    text-align: center;
  }
  h3 {
    font-size: 18px;
    text-align: center;
    margin: 0;
  }
  .primary-button {
    text-align: center;
    margin: 5px;
  }
  .project-section {
    text-align: center;
  }
  .project-title {
    font-size: 36px;
    margin: 0;
    padding: 0;
  }
  .project-title-weather {
    font-size: 36px;
    margin: 0;
    padding: 0;
  }
}
